.Mobile{
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Mobile .mTittle{
   height: 20vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

.Mobile .mForm{
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mForm form{
    display: flex;
    flex-direction: column;
}

.mForm form input{
    padding: 10px;
    width: 60vw;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mForm form button{
    width: 60vw;
    color: white;
    background-color: #8A2BE2;   
    padding: 10px;
    
}






